* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: steelblue;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  margin-bottom: 10px;
}

.app-title {
  color: white;
  text-shadow: 2px 2px 10px greenyellow;
  font-size: 30px;
}

.input-group {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-out;
}

.input-group:hover {
  transform: scale(1.05);
}

.task-input {
  flex-basis: 80%;
  padding: 15px;
  height: 100%;
  outline: 0;
  border: none;
  border-radius: 10px 0 0 10px;
  background: linear-gradient(to right, white 95%, skyblue);
  font-size: 20px;
}

.add-task {
  flex-basis: 20%;
  height: 100%;
  border: none;
  border-radius: 0 10px 10px 0;
  background: skyblue;
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}

.task-list-container {
  display: flex;
  height: calc(100% - 150px);
  justify-content: center;
}

.task-list {
  list-style-type: none;
  flex-basis: 80%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 10px;
  counter-reset: task-counter;
}

.task-item {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
  font-family: monospace;
}

.task-title {
  font-family: inherit;
  font-size: 1.5rem;
}

.remove-task {
  border: none;
  font-size: 1.5rem;
  color: steelblue;
  background-color: transparent;
}

.remove-task:hover {
  transition: color .5s;
  color: tomato;
}

.complete-task {
  border: none;
  font-size: 1.5rem;
  color: steelblue;
  background-color: transparent;
}

.complete-task:hover {
  transition: color .5s;
  color: green;
}

.actions-task {
  display: flex;
  gap: 10px;
}

.task-complete{
  color: green;
}